<!-- Pagination -->
<div class="mt-12 flex justify-center">
  <nav class="pagination flex space-x-2">
    <a href="#" class="w-10 h-10 flex items-center justify-center rounded-full bg-mujallad-beige">&laquo;</a>
    <a href="#" class="w-10 h-10 flex items-center justify-center rounded-full">1</a>
    <a href="#"
      class="w-10 h-10 flex items-center justify-center rounded-full bg-mujallad-charcoal text-white active">2</a>
    <a href="#" class="w-10 h-10 flex items-center justify-center rounded-full">3</a>
    <a href="#" class="w-10 h-10 flex items-center justify-center rounded-full">4</a>
    <a href="#" class="w-10 h-10 flex items-center justify-center rounded-full bg-mujallad-beige">&raquo;</a>
  </nav>
</div>
 